
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>才几美工系统-登录</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="~/login/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/reset.css" />
</head>
<body>

    <div id="particles-js">
        <div class="login">
            <div class="login-top">
                CJMG-登录
            </div>
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="~/login/img/name.png" /></div>
                <div class="login-center-input">
                    <input type="text" name="" value="" placeholder="请输入您的用户名" class="name" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'" required="required" />
                    <div class="login-center-input-text">用户名</div>
                </div>
            </div>
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="~/login/img/password.png" /></div>
                <div class="login-center-input">
                    <input type="password" name="" value="" placeholder="请输入您的密码" class="password" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'" required="required" />
                    <div class="login-center-input-text">密码</div>
                </div>
            </div>
            <div class="login-button">
                登录
            </div>
        </div>
        <div class="sk-rotating-plane"></div>
    </div>

    <!-- scripts -->
    <script src="~/login/js/particles.min.js"></script>
    <script src="~/login/js/app.js"></script>
    <script src="~/Page/js/jquery-2.2.4.min.js"></script>
    <script src="~/layuiadmin/layui/lay/modules/layer.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".password").keypress(function (e) {
                if (e.which == 13) {
                    $(".login-button").click();
                }
            });
        })
        function hasClass(elem, cls) {
            cls = cls || '';
            if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
            return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
        }

        function addClass(ele, cls) {
            if (!hasClass(ele, cls)) {
                ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
            }
        }

        function removeClass(ele, cls) {
            if (hasClass(ele, cls)) {
                var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
                while (newClass.indexOf(' ' + cls + ' ') >= 0) {
                    newClass = newClass.replace(' ' + cls + ' ', ' ');
                }
                ele.className = newClass.replace(/^\s+|\s+$/g, '');
            }
        }
        document.querySelector(".login-button").onclick = function () {
            var name = $(".name").val().trim();
            var password = $(".password").val().trim();
            if (name == '' || password == '') {
                layer.msg("账号和密码不能为空！");
                return;
            }
            addClass(document.querySelector(".login"), "active")
            //setTimeout(function () {
            //    addClass(document.querySelector(".sk-rotating-plane"), "active")
            //    document.querySelector(".login").style.display = "none"
            //}, 1000)
            removeClass(document.querySelector(".login"), "active")
            removeClass(document.querySelector(".sk-rotating-plane"), "active")
            document.querySelector(".login").style.display = "block"
            var name = $(".name").val().trim();
            var password = $(".password").val().trim();
            var data = { name: name, password: password };
            //data = JSON.stringify(data);
            $.ajax({
                url: '/User/Validate',
                type: 'post',
                data: data,
                success: function (res) {
                    res = eval('(' + res + ')');
                    if (res.code == 200) location.href = "/Home/Index";
                    else
                        layer.msg(res.message);

                },
                error: function (err) {
                    layer.msg("出现未知异常，请重试！");
                }
            });
        }</script>
    <div style="text-align:center;">
        <p>zlsoft</p>
    </div>
</body>
</html>